cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
language: groovy
branches:
  only:
  - master
notifications:
  slack:
    secure: hl9d+eWedYvnWCYPu7MjLQ97oFaYZGiq1nLA+LYOmEGN9XxUUvRaAn993RmzxnA1IISpmSUz5wU4/MII/ZMe4vF0ndNxdVJrXz5apLNHOklVNYTlrc/G+AmSQqVgnl66pluwLfMygsb4XkVnebHN8gIDyF1wmrZP4fLy7zrH7i4LCptNB1c8YjE9HOSL26bhh6j9l73m9MsfOvc6HRWalfbY6yDok8MwtONM1orWFK5mCFkbYr+QxdOAbovoEXVMCxwlLqtl/8J9CsRPlDKEH7i3qzjuBE5G7b23kG65N3QLHZcqRSxFIfMRz5i3p9j8hCih/Fpm5CfGVyBDekEN/G+upeMWhgMxjayteiT9Qv63sf1nVbFMlLl55NMY5sHldiUdlfd3DHbd0xjKzPpAT004IOOVLPeuR/15GoH0k6et3tWtccfRkgA+WHFEbflgUBWwxEelZLiEiB+IG4WUU2Qxno6vLcuNWCn0xaydGmhWprtf9j0Il8IjictbVC9Qfj8vfs5SK4xznWiAo+ndkKGrc9UgOHqV6WIt+Kg+dkgPLUKE5YX3RSMN+UgfeX7Sqxrb99jHxqczLMhvN1FWVN2SXO3WXL3jeb3Ua4CiWixb/lSPaTIjP4jEQhhjPQxW2QMQTXk8W9lmWP/bHIt/GBy2gpF3uKEyajAp2ivgSpQ=
