<?xml version="1.0" encoding="UTF-8"?>
<checkstyle version="6.10.1">
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/ILogger.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/Logger.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/AmplifyExceptionHandler.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/AmplifyStateTracker.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/ApplicationInfoProvider.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/EnvironmentInfoProvider.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/IntegratedEvent.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/Settings.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/checks/CooldownDaysCheck.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/checks/GooglePlayStoreIsAvailableCheck.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/checks/MaximumCountCheck.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/checks/VersionChangedCheck.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/checks/WarmUpDaysCheck.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/initializers/ExceptionHandlingInitializer.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/initializers/ImmediateEventTriggerInitializer.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/interfaces/IAmplifyStateTracker.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/interfaces/IApplicationInfoProvider.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/interfaces/IEnvironmentCheck.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/interfaces/IEnvironmentInfoProvider.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/interfaces/IEvent.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/interfaces/IEventCheck.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/interfaces/ISettings.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/interfaces/ITrackingInitializer.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/trackers/EventTracker.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/trackers/FirstTimeTracker.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/trackers/LastTimeTracker.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/trackers/LastVersionTracker.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/tracking/trackers/TotalCountTracker.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/utils/ActivityStateUtil.java">
<error line="24" column="37" severity="error" message="&apos;{&apos; is not preceded with whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck"/>
<error line="26" column="32" severity="error" message="&apos;{&apos; is not preceded with whitespace." source="com.puppycrawl.tools.checkstyle.checks.whitespace.WhitespaceAroundCheck"/>
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/utils/ApplicationUtils.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/utils/FeedbackUtil.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/utils/PlayStoreUtil.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/utils/StringUtils.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/utils/time/ISystemTimeProvider.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/utils/time/RealSystemTimeProvider.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/utils/time/SystemTimeUtil.java">
<error line="23" column="8" severity="error" message="Unused import - com.github.stkent.amplify.tracking.AmplifyStateTracker." source="com.puppycrawl.tools.checkstyle.checks.imports.UnusedImportsCheck"/>
<error line="25" column="1" severity="error" message="Utility classes should not have a public or default constructor." source="com.puppycrawl.tools.checkstyle.checks.design.HideUtilityClassConstructorCheck"/>
<error line="30" column="12" severity="error" message="&apos;public&apos; modifier out of order with the JLS suggestions." source="com.puppycrawl.tools.checkstyle.checks.modifier.ModifierOrderCheck"/>
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/views/AmplifyView.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/views/DefaultQuestionView.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/main/java/com/github/stkent/amplify/views/QuestionView.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/test/java/com/github/stkent/amplify/helpers/BaseTest.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/test/java/com/github/stkent/amplify/helpers/FakeSettings.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/test/java/com/github/stkent/amplify/helpers/FakeSystemTimeProvider.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/test/java/com/github/stkent/amplify/tracking/AmplifyExceptionHandlerTest.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/test/java/com/github/stkent/amplify/tracking/IntegratedEventTest.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/test/java/com/github/stkent/amplify/tracking/checks/CooldownDaysCheckTest.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/test/java/com/github/stkent/amplify/tracking/checks/GooglePlayStoreIsAvailableCheckTest.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/test/java/com/github/stkent/amplify/tracking/checks/MaximumCountCheckTest.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/test/java/com/github/stkent/amplify/tracking/checks/VersionChangedCheckTest.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/test/java/com/github/stkent/amplify/tracking/checks/WarmUpDaysCheckTest.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/test/java/com/github/stkent/amplify/tracking/trackers/FirstTimeTrackerTest.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/test/java/com/github/stkent/amplify/tracking/trackers/LastTimeTrackerTest.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/test/java/com/github/stkent/amplify/tracking/trackers/LastVersionTrackerTest.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/test/java/com/github/stkent/amplify/tracking/trackers/TotalCountTrackerTest.java">
</file>
<file name="/Users/bobbake4/android/amplify/amplify/src/test/java/com/github/stkent/amplify/utils/StringUtilsTest.java">
</file>
</checkstyle>
